# Python virtual environments & cache
env/
venv/
__pycache__/
*.py[cod]
.env

# Node dependencies & builds
React/node_modules/
React/build/
React/dist/
React/.env
.DS_Store

# Ignore Python cache directories and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc